body {
    padding-top: 54px;
}

@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }
}

.card {
    height: 100%;
}

.jumbotron {
    margin-bottom: 0;
    /* background-image: url('../img/banner2.jpg'); */
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-shadow: black 0.3em 0.3em .5em;
}

.navbar {
    background: #000000d9 !important;
}

.nav-link {
    color: #FFF !important;
}

#register {
    margin: 50px 0;
}

/* Cart Page */
.cart-items table td{
    color: #666;
    font-size: 15px;
}

.cart-items table td a {
    color: red;
    font-size: 13px;
    color: #555;
}

.cart-items .table > tbody > tr > td {
     vertical-align: middle;
}

/* Checkout  */

.your-order-table td {
    font-size: 14px;
    color: #666;
    vertical-align: middle;
}


.carousel .carousel-item {
    width: 1200px;
    margin-bottom: 0;
    height: 70vh;
    background-size: cover;
    background-position: center;
    background-position: 0% 25%;
    background-repeat: no-repeat;
    color: white;
    text-shadow: black 0.3em 0.3em .5em;
    margin: 5vh 5vh 5vh 0vh;
    border-radius: 5px;
}
.carousel .carousel-item:first-of-type {
    background-image: url('../img/banner2.jpg');
}

.carousel .carousel-item:nth-of-type(1) {
    background-image: url('../img/banner.jpg');
}
.carousel .carousel-item:nth-of-type(2) {
    background-image: url('../img/banner2.jpg');
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    width: 80px;
    height: 70px;
}

